@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfcfc;
  --logo-bg: #e7e7e7;
  --border: #fcb4a5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
